@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../pages/page.css");
@import url("../pages/header.css");
@import url("../pages/profile.css");
@import url("../pages/cards.css");
@import url("../pages/");

button:hover {
   cursor: pointer;
   opacity: 0.8;
   transition: opacity 0.2s ease-in-out;
 }

@media screen and (max-width:620px) {
    .profile{
        flex-direction: column;
     }

     .profile__info{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
     }

     .profile__description{
        width: 100%;
        text-align: center;

     }

     .profile__add-button{
        margin: 0;
        width: 100%;
     }

}